@model BussinessLayer.ManageUser

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/HomePageLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ManageUser</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConfirmPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConfirmPassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserroleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserroleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserDistrict)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserDistrict)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserTaluk)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserTaluk)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserGramapanchayath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserGramapanchayath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserVillage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserVillage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OperationUnit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OperationUnit)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
